# Entornos virtuales
.venv/
env/
__pycache__/
*.py[cod]
*.so

# Archivos de configuración local
.env
*.log
*.sqlite3

# Archivos generados
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints
Hopfield_layer/.ipynb_checkpoints/
